/* -- My style -- */

.bg_color_style {
    background-color: RGB(154, 118, 106);
}

.button_style_add {
    font-weight: bold;
    border-style: none;
    background-color: transparent;
}

.button_style {
    color: whitesmoke;
    background-color: RGB(154, 118, 106);
}

.button_style:hover {
    color: whitesmoke;
    background-color: RGB(133, 95, 82);
}

.button_style:active {
    color: whitesmoke;
    background-color: RGB(133, 95, 82);
}

.nav-link:active {
    color: whitesmoke;
    background-color: RGB(154, 118, 106);
}

ul.dropdown-menu > li > a:hover {
    color: whitesmoke;
    background-color: RGB(154, 118, 106);
}